<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title th:text="#{titulo.mural}"></title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div th:insert="~{cabecalho :: siteHeader}"></div>

<h1 th:text="#{titulo.mural}"></h1>

<ul>

    <li>
        <a th:href="@{/mensagens}"
           th:text="#{menu.verMensagens}">
        </a>
    </li>

    <li>
        <a th:href="@{/postar}"
           th:text="#{menu.postarMensagem}">
        </a>
    </li>

    <li>
        <a th:href="@{/logout}"
           th:text="#{menu.logout}">
        </a>
    </li>

</ul>

</body>
</html>